<a href="https://colab.research.google.com/github/urenajose/DS-Unit-1-Sprint-2-Statistics/blob/master/Jose_Urena_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
from scipy import stats
import copy

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
### YOUR WORK HERE
url_auto = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

In [4]:
auto_df = pd.read_csv(url_auto)
print(auto_df.head())
print(auto_df.tail())

   3    ?  alfa-romero  gas  std   two  ...  9.00  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...   8.5  110  5500  19  25  15250

[5 rows x 26 columns]
     3   ? alfa-romero     gas    std   two  ...  9.00  111  5000  21  27  13495
199 -1  95       volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
200 -1  95       volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
201 -1  95       volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
202 -1  95       volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
203 -1  95       volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[5 rows x 26 columns]

In [5]:
column_headers = ['symboling',
'normalized-losses',
'make',
'fuel-type',
'aspiration',
'num-of-doors',
'body-style',
'drive-wheels',
'engine-location',
'wheel-base',
'length',
'width',
'height',
'curb-weight',
'engine-type',
'num-of-cylinders',
'engine-size',
'fuel-system',
'bore',
'stroke',
'compression-ratio',
'horsepower',
'peak-rpm',
'city-mpg',
'highway-mpg',
'price',]

In [6]:
auto_df = pd.read_csv(url_auto, names=column_headers)
print(auto_df.head())

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [7]:
auto_df = auto_df.replace("?",np.nan)
print(auto_df.head())
print(auto_df.describe())
print(auto_df.info())

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]
        symboling  wheel-base  ...    city-mpg  highway-mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB
None

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [8]:
### YOUR WORK HERE
lauto_df = auto_df.sample(10, random_state=30 ) #used car lot in your local town
copy.deepcopy(lauto_df)
print(lauto_df.head())

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

In [9]:
auto_dfm_hmpg = auto_df['highway-mpg'] #Main population of cars
print(auto_dfm_hmpg.head())
print(auto_dfm_hmpg.mean())
print(auto_dfm_hmpg.std())

0    27
1    27
2    26
3    30
4    22
Name: highway-mpg, dtype: int64
30.75121951219512
6.88644313094182

In [10]:
auto_dfl_hmpg = lauto_df['highway-mpg'] #local used car population
print(auto_dfl_hmpg.head())
print(auto_dfl_hmpg.mean())
print(auto_dfl_hmpg.std())

121    38
176    32
24     38
88     30
72     18
Name: highway-mpg, dtype: int64
32.8
7.269418439218123

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [11]:
### YOUR WORK HERE
print(stats.ttest_1samp(auto_dfl_hmpg, popmean=35))
if stats.ttest_1samp(auto_dfl_hmpg, popmean=35).pvalue >= .05:
  print("We don't reject the Null hypothesis tha 35mpg(a) is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)
We don't reject the Null hypothesis tha 35mpg(a) is equal to the given population mean, popmean.

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [12]:
### YOUR WORK HERE
lauto_df_100 = auto_df.sample(100, random_state=30 ) # 100 sample, used car lot in your local town
copy.deepcopy(lauto_df_100)
print(lauto_df_100.head())
print(lauto_df_100.shape)
auto_dfl00_hmpg = lauto_df_100['highway-mpg'] #local used car population

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]
(100, 26)

In [13]:
print(stats.ttest_1samp(auto_dfl00_hmpg, popmean=35))
if stats.ttest_1samp(auto_dfl00_hmpg, popmean=35).pvalue >= .05:
 print("We don't reject the Null hypothesis tha 35mpg(a) is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)
we reject the Null Hypothesis

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

In [14]:
"Our sample of 10 cars was not representative of the used car lot pop of cars"

'Our sample of 10 cars was not representative of the used car lot pop of cars'

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [15]:
### YOUR WORK HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-24 01:27:32--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-07-24 01:27:32 (614 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [16]:
column_headers_house = ['Class Name',
'handicapped-infants',
'water-project-cost-sharing',
'adoption-of-the-budget-resolution',
'physician-fee-freeze',
'el-salvador-aid',
'religious-groups-in-schools',
'anti-satellite-test-ban',
'aid-to-nicaraguan-contras',
'mx-missile',
'immigration',
'synfuels-corporation-cutback',
'education-spending',
'superfund-right-to-sue',
'crime',
'duty-free-exports',
'export-administration-act-south-africa']

house_df = pd.read_csv('house-votes-84.data', header=None, names=column_headers_house)
print(house_df.shape)
print(house_df.head())
print(house_df.describe())
pd.set_option('expand_frame_repr', True)
house_df.describe()
house_df.isnull().sum()
house_df.head(10)
house_df = copy.deepcopy(house_df.replace("?",np.nan))
print(house_df.head())
house_df_n = house_df.replace("n",0)
house_df = house_df_n.replace("y", 1)
print(house_df.head())
house_votes_groupbys = house_df.groupby("Class Name").mean()
house_votes_groupbyc = house_df.groupby("Class Name").count()
display(house_votes_groupbys.T)
display(house_votes_groupbyc.T)

(435, 17)
   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]
       Class Name  ... export-administration-act-south-africa
count         435  ...                                    435
unique          2  ...                                      3
top      democrat  ...                                      y
freq          267  ...                                    269

[4 rows x 17 columns]
   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]
   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

Class Name                              democrat  republican
handicapped-infants                     0.604651    0.187879
water-project-cost-sharing              0.502092    0.506757
adoption-of-the-budget-resolution       0.888462    0.134146
physician-fee-freeze                    0.054054    0.987879
el-salvador-aid                         0.215686    0.951515
religious-groups-in-schools             0.476744    0.897590
anti-satellite-test-ban                 0.772201    0.240741
aid-to-nicaraguan-contras               0.828897    0.152866
mx-missile                              0.758065    0.115152
immigration                             0.471483    0.557576
synfuels-corporation-cutback            0.505882    0.132075
education-spending                      0.144578    0.870968
superfund-right-to-sue                  0.289683    0.860759
crime                                   0.350195    0.981366
duty-free-exports                       0.637450    0.089744
export-administration-act-south-africa  0.935135    0.657534

Class Name                              democrat  republican
handicapped-infants                          258         165
water-project-cost-sharing                   239         148
adoption-of-the-budget-resolution            260         164
physician-fee-freeze                         259         165
el-salvador-aid                              255         165
religious-groups-in-schools                  258         166
anti-satellite-test-ban                      259         162
aid-to-nicaraguan-contras                    263         157
mx-missile                                   248         165
immigration                                  263         165
synfuels-corporation-cutback                 255         159
education-spending                           249         155
superfund-right-to-sue                       252         158
crime                                        257         161
duty-free-exports                            251         156
export-administration-act-south-africa       185         146

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [17]:
### YOUR WORK HERE
house_df_r = house_df[house_df['Class Name'] == "republican"]
print(house_df_r.shape)
house_df_d = house_df[house_df['Class Name'] == "democrat"]
print(house_df_d.shape)

(168, 17)
(267, 17)

In [26]:
print(stats.ttest_1samp(house_df_d["adoption-of-the-budget-resolution"],1,nan_policy="omit"))
if stats.ttest_1samp(house_df_d["adoption-of-the-budget-resolution"],1,nan_policy="omit").pvalue >= .01:
  print("We don't reject the Null hypothesis is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

Ttest_1sampResult(statistic=-5.702205846437985, pvalue=3.217258173105712e-08)
we reject the Null Hypothesis

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [27]:
print(stats.ttest_1samp(house_df_r["el-salvador-aid"],1,nan_policy="omit"))
print(ttest_ind(house_df_d["el-salvador-aid"],house_df_r["el-salvador-aid"],nan_policy="omit"))
if stats.ttest_1samp(house_df_r["el-salvador-aid"],1,nan_policy="omit").pvalue >= .01:
  print("We don't reject the Null hypothesis is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

Ttest_1sampResult(statistic=-2.890793645020198, pvalue=0.004363402589282088)
Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
we reject the Null Hypothesis

In [29]:
print(stats.ttest_1samp(house_df_r["el-salvador-aid"],popmean=house_df_r["el-salvador-aid"].mean(),nan_policy="omit"))
print(ttest_ind(house_df_d["el-salvador-aid"],house_df_r["el-salvador-aid"],nan_policy="omit"))
if stats.ttest_1samp(house_df_r["el-salvador-aid"],1,nan_policy="omit").pvalue >= .01:
  print("We don't reject the Null hypothesis is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

Ttest_1sampResult(statistic=0.0, pvalue=1.0)
Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
we reject the Null Hypothesis

In [21]:
print(ttest_ind(house_df_d["water-project-cost-sharing"],house_df_r["water-project-cost-sharing"],nan_policy="omit").pvalue)
print(ttest_ind(house_df_d["water-project-cost-sharing"],house_df_r["water-project-cost-sharing"],nan_policy="omit"))

0.9291556823993485
Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [31]:
if ttest_ind(house_df_d["water-project-cost-sharing"],house_df_r["water-project-cost-sharing"],nan_policy="omit").pvalue >= .1:
    print("We don't reject the Null hypothesis is equal to the given population mean, popmean.")
else:
   print("we reject the Null Hypothesis")

We don't reject the Null hypothesis is equal to the given population mean, popmean.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [23]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [24]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [25]:
### YOUR WORK HERE